{% extends "layout.html" %}

{% block title %}
<title>Menu</title>
{% endblock %}

{% block body %}
<body style="background-color: #d5dde7">
    <nav class="borda logo">
        <a style="text-align: center; font-size: 50px;">            
            Menu
            <span><img src="/static/heart.png" style="width: 7%; height: 10%; padding-bottom: 5px"/></span>
        </a>

        {% if session.user_id %} <span style="text-align: end; color: #F057CA">Logged</span> {% endif %}
    </nav>
<div class="menu">
    <h1 style="text-align: center; position: relative; margin-top: 3%; margin-bottom: 3%; color: #b31209">
        Combos
    </h1>
    <table class="container">
        {% for combo in combos %}
            <tr>
                <td class="fonte">
                    <dt>{{ combo.name }}</dt>
                    <dd>{{ combo.ingredients }} </dd>
                </td>
                <td class="fonte" style="text-align: end;">
                    R${{ "$%.2f"|format(combo.price) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1 style="text-align: center; position: relative; margin-top: 3%; margin-bottom: 3%; color: #b31209">
        Porções
    </h1>
    <table class="container">
    {% for portion in portions %}
            <tr>
                <td class="fonte">
                    <dt>{{ portion.name }}</dt>
                    <dd>{{ portion.ingredients }}</dd>
                </td>
                <td class="fonte" style="text-align: end;">
                    R${{ "$%.2f"|format(portion.price) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1 style="text-align: center; position: relative; margin-top: 3%; margin-bottom: 3%; color: #b31209">
        Lanches
    </h1>
    <table class="container">
        {% for lanche in lanches %}
            <tr>
                <td class="fonte">
                    <dt>{{ lanche.name }}</dt>
                    <dd>{{ lanche.ingredients }}</dd>
                </td>
                <td class="fonte" style="text-align: end;">
                    R${{ "$%.2f"|format(lanche.price) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1 style="text-align: center; position: relative; margin-top: 3%; margin-bottom: 3%; color: #b31209">
        Bebidas
    </h1>
    <table class="container">
        {% for bebida in bebidas %}
            <tr>
                <td class="fonte">
                    <dt>{{ bebida.name }}</dt>
                    <dd>{{ bebida.ingredients }}</dd>
                </td>
                <td class="fonte" style="text-align: end;">
                    R${{ "$%.2f"|format(bebida.price) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1 style="text-align: center; position: relative; margin-top: 3%; margin-bottom: 3%; color: #b31209">
        Drink
    </h1>
    <table class="container">
        {% for drink in drinks %}
            <tr>
                <td class="fonte">
                    <dt>{{ drink.name }}</dt>
                    <dd>{{ drink.ingredients }}</dd>
                </td>
                <td class="fonte" style="text-align: end;">
                    R${{ "$%.2f"|format(drink.price) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    </div>
        <p style="color: #F057CA;">{% for item in lenght %} {{ item }} {% endfor %}</p>
        <footer>
            <div><a href="/adm">adm</a></div>
        </footer>
</body>
{% endblock %}