{% extends "layout.html" %}

{% block body %}
<a href="/"><button class="btn btn-primary" style="display: block; margin: auto; position: relative;">Retornar</button></a>
    <form action="/adm" method="post" id="menuform">
        <H1>Alterações</H1>
        <table>
            <H2>Combos</H2>
            {% for combo in combos %}
            <tr>
                <td>
                    <textarea name="{{ combo.name }}" rows="1" cols="20">{{ combo.name }}</textarea>
                    <textarea name="{{ combo.name }}ingredients" rows="2" cols="30">{{ combo.ingredients }}</textarea>
                    <textarea name="{{ combo.name }}price" rows="1" cols="10">{{ combo.price }}</textarea>
                </td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <H2>porções</H2>
            {% for portion in portions %}
            <tr>
                <td>
                    <textarea name="{{ portion.name }}" rows="1" cols="20">{{ portion.name }}</textarea>
                    <textarea name="{{ portion.name }}ingredients" rows="2" cols="30">{{ portion.ingredients }}</textarea>
                    <textarea name="{{ portion.name }}price" rows="1" cols="10">{{ portion.price }}</textarea>
                </td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <H2>Lanches</H2>
            {% for lanche in lanches %}
            <tr>
                    <td><textarea name="{{ lanche.name }}" rows="1" cols="20">{{ lanche.name }}</textarea></td>
                    <td><textarea name="{{ lanche.name }}ingredients" rows="2" cols="30">{{ lanche.ingredients }}</textarea></td>
                    <td><textarea name="{{ lanche.name }}price" rows="1" cols="10">{{ lanche.price }}</textarea></td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <H2>Bebidas</H2>
            {% for bebida in bebidas %}
            <tr>
                <td>
                    <textarea name="{{ bebida.name }}" rows="1" cols="20">{{ bebida.name }}</textarea>
                    <textarea name="{{ bebida.name }}ingredients" rows="2" cols="30">{{ bebida.ingredients }}</textarea>
                    <textarea name="{{ bebida.name }}price" rows="1" cols="10">{{ bebida.price }}</textarea>
                </td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <H2>Drinks</H2>
            {% for drink in drinks %}
            <tr>
                <td>
                    <textarea name="{{ drink.name }}" rows="1" cols="20">{{ drink.name }}</textarea>
                    <textarea name="{{ drink.name }}ingredients" rows="2" cols="30">{{ drink.ingredients }}</textarea>
                    <textarea name="{{ drink.name }}price" rows="1" cols="10">{{ drink.price }}</textarea>
                </td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <H2>Diversos</H2>
            {% for diverso in diversos %}
            <tr>
                <td>
                    <textarea name="{{ diverso.name }}" rows="1" cols="20">{{ diverso.name }}</textarea>
                    <textarea name="{{ diverso.name }}ingredients" rows="2" cols="30">{{ diverso.ingredients }}</textarea>
                    <textarea name="{{ diverso.name }}price" rows="1" cols="10">{{ diverso.price }}</textarea>
                </td>
            </tr>
            {% endfor %}
        </table>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <form action="/novo" method="post" id="form">
        <br/><H1>Nova entrada</H1>
        <a>Tipo: </a><span>
        <select name="table">
            <option value="combos">Combo</option>
            <option value="portions">Porções</option>
            <option value="lanches">Lanches</option>
            <option value="bebidas">Bebidas</option>
            <option value="drinks">Drinks</option>
            <option value="diversos">Diversos</option>
        </select>
    </span>  
        <table>
        <tr>
            <td>
                <textarea name="name" rows="1" cols="20"></textarea>
                <textarea name="ingredients" rows="2" cols="30"></textarea>
                <textarea name="price" rows="1" cols="10"></textarea>
            </td>
        </tr>
        </table>
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </form>
{% endblock %}